* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  background-color: #242424;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#settings-menu {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: black;
  padding: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  z-index: 4;

  transform: translateX(100%);
  transition: all 0.2s ease-in-out;

  overflow: auto;
}

#settings-menu.open {
  transform: translateX(0);
}

.radio-group {
  display: flex;
  flex-direction: column;
}

/* Folder */
.folderBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.5);
  margin: 5px;
  padding: 10px;
  flex-wrap: wrap;
  /*position: fixed;*/
  /*bottom: 0;*/
  animation: slideDown 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slideDown {
  from { transform: translateY(-30%); opacity: 0 }
}

body > .folderBody {
  margin: 0;
  border-style: none;
  position: relative;
  animation: none;
  max-height: 100%;
  overflow: auto;
}

/* Bookmark */
.bookmark {
  margin: 10px;
  position: relative;
  border-radius: 10px;
}

.bookmark > a {
  display: flex;
  flex-direction: column;
  width: 125px;
  padding: 10px;
  user-select: none;
}

.icon-box {
  margin: 15px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --icon-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #ffffff14;
}

.icon-box.small, .icon-box.letter {
  border-radius: 10px;
  background-color: var(--icon-bg);
}

.icon-box > span {
  font-size: xx-large;
  text-transform: capitalize;
  font-weight: bold;
}

.icon-box > img {
  width: 100%;
  border-radius: 10px;
  pointer-events: none;
}

.icon-box > svg {
  width: 100%;
  height: 100%;
}

.icon-box.small > img  {
  width: 50%;
  border-radius: 5px;
}

.bookmark > a > span {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}

.bookmark:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  color: white;
  text-decoration: none;
}

#settings-close {
  border-style: none;
  background: none;
  color: white;
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}



#action-area {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  gap: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;

  > * {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button:not(.default) {
  border-style: none;
  background: none;
  color: white;
}

button:hover:not(.default) {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Drop targets */
.drop-targets {
  /*pointer-events: none;*/
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/*.drop-targets > *:hover {*/
/*  background-color: red;*/
/*}*/

.drop-targets > .left {
  position: absolute;
  left: -12px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background-color: rgba(0, 255, 255, 0.5);*/

  > div {
    background-color: white;
    height: 50%;
    width: 4px;
  }
}

.drop-targets > .right {
  position: absolute;
  right: -12px;
  height: 100%;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /*background-color: rgba(0, 255, 255, 0.5);*/

  > div {
    background-color: white;
    width: 4px;
    height: 50%;
  }
}

.drop-targets > .center {
  position: absolute;
  top: 0;
  bottom: 0;
  left:  20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(255, 0, 106, 0.5);*/

  > span {
    /*color: aqua;*/
    font-size: 100px;
    /* background-color: aqua; */
    /* aspect-ratio: 1 / 1; */
    /* height: 100px; */
    font-family: monospace;
  }

  > svg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 75px;
    height: 75px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 14px;
    fill: #ffffff;
  }
}

.enabled {
  background-color: white;
  fill: black;
}

.overflow {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;

  > button {
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 2px;
    display: flex;
    /*aspect-ratio: 1 / 1;*/
  }
}

.bookmark:hover .overflow, .overflow:hover, .overflow:has(.context-menu) {
  display: flex;
}

@keyframes fadeIn {
  from { opacity: 0 }
}

.context-menu {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  fill: white;
  position: absolute;
  top: 30px;
  left: -30px;
  right: -30px;
  /* width: 50px; */
  border-radius: 5px;
  animation: fadeIn;
  animation-duration: 0.2s;
  padding: 5px 0;
  gap: 2px;

  button {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 7px;
    align-items: center;
    gap: 2px;
    justify-content: flex-start;
    font-size: 15px;
  }

  svg {
    max-height: 100%;
  }

  button:hover {
    background-color: #242424;
  }

  .del {
    color: #d00000;
    fill: #d00000;
  }
}

.icon-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.icon-selector .icon-box {
  width: 75px;
  margin: 15px;
}




