* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%
}

body {
  background-color: #242424;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#settings-menu {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: black;
  padding: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  place-items: flex-start;
  z-index: 4;

  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}

#settings-menu.open {
  transform: translateX(0);
}

.radio-group {
  display: flex;
  flex-direction: column;
}

/* Folder */
.folderBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #393939;
  margin: 5px;
  padding: 10px;
  flex-wrap: wrap;
  /*position: fixed;*/
  /*bottom: 0;*/
  animation: slideDown 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes slideDown {
  from { transform: translateY(-30%); opacity: 0 }
}

body > .folderBody {
  margin: 0;
  border-style: none;
  position: relative;
  animation: none;
  max-height: 100%;
  overflow: auto;
}

/* Bookmark */
.bookmark {
  display: flex;
  flex-direction: column;
  width: 125px;
  padding: 10px;
  margin: 10px;
  user-select: none;
  border-radius: 10px;
}

.icon-box {
  margin: 15px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box.small {
  border-radius: 10px;
  background-color: #ffffff14;
}

.icon-box > img {
  width: 100%;
  border-radius: 10px;
}

.icon-box.small > img  {
  width: 50%;
  border-radius: 5px;
}

.bookmark > span {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}

.bookmark:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  color: white;
  text-decoration: none;
}

#settings-close, #settings-button {
  border-style: none;
  background: none;
  color: white;
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#settings-close:hover, #settings-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


