* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#settings-menu {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  right: 0;
  animation: slideIn;
}

@keyframes slideIn {
  from { width: 0; }
  to {width: 300px}
}

/* Folder */
.folder {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #393939;
  padding: 2px;
  margin: 5px;
  padding: 10px;
}

.folder > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.folder > summary {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
  user-select: none
}

/* Bookmark */
.bookmark {
  display: flex;
  flex-direction: column;
  width: 125px;
  padding: 10px;
  margin: 5px;
}

.bookmark > img {
  padding: 15px;

}

.bookmark > span {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.bookmark:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

a {
  color: white;
  text-decoration: none;
}


