body {
  background-color: #1e1e1e;
  color: white;
}

.folder {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 2px;
  margin: 2px;
  padding: 10px;
}


.folder > div {
  display: flex;
  flex-direction: row;
  
}

.bookmark > img{
  padding: 10px;

}

.bookmark {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 20px;
}

.bookmark:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

a {
  color: white;
  text-decoration: none;
}


