body {
  background-color: hsl(180, 100%, 50%);

}

.folder {
  display: flex;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  padding: 2px;
  margin: 2px;
}


.folder > div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bookmark > img{
  padding: 10px;

}

.bookmark {
  display: flex;
  flex-direction: column;
  width: 100px;


}


